{% extends('base.html.twig') %}
{% block body %}

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <a href="https://www.juniv.edu/"><img src="{{ asset('images/logo-ju.png') }}" alt="logo-ju" class="img-fluid"></a>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <div class="col-xs-12 col-sm-12">
                {{ form_start(seatSearchForm) }}

                    <div class="form-group p-1">

{#                        {{ form_label(seatSearchForm.roll_number, 'Enter Roll Number', {'label_attr': {'class': 'form-label label text-lg-center'}}) }}#}
                        {{ form_row(seatSearchForm.roll_number) }}
{#                        {{ form_widget(seatSearchForm) }}#}
{#                        <h3><label for="rollNo" class="form-label text-lg-center">Enter Roll</label></h3>#}
{#                        <input type="text" class="form-control" id="rollNo" placeholder="Enter Your Roll Number"/>#}
                    </div>

                    <div class="form-group p-1">
                        <button class="btn btn-primary btn-block" id="searchSeat" type="submit">Search</button>
                    </div>
                {{ form_end(seatSearchForm) }}
            </div>
        </div>

        <br/>

        {% if(studentFound) %}
            <div class="row text-center" id="studentDetailsSection">
                <div class="col-md-12">
                    <h3>Student Details</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Roll No.</th>
                                <td>{{ studentInfo['rollNumber'] }}</td>
                            </tr>

                            <tr>
                                <th>Name</th>
                                <td>{{ studentInfo['name'] }}</td>
                            </tr>

                            <tr>
                                <th>Building / Department</th>
                                <td>{{ studentInfo['department'] }}</td>
                            </tr>

                            <tr>
                                <th>Room No.</th>
                                <td>{{ studentInfo['roomName'] }}</td>
                            </tr>

                            <tr>
                                <th>Shift</th>
                                <td>{{ studentInfo['shift'] }}</td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>

            <br/>
            <div class="row text-center" id="mapDetailsSection">
                <div class="col-md-12">
                    <h3 class="">Location in Google Map</h3>
                    <div id="map" style="width: 100%; height: 550px;"></div>

                </div>
            </div>
        {% else %}
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="text-danger">No Student Found</h3>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;

        }

        .required{
            font-weight: bold;
        }

        .labels {
            color: red;
            background-color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            width: 60px;
            border: 2px solid black;
            white-space: nowrap;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOhjTfw2Lnd1k8U3DBtw9ai6DduvgacWM&callback=initMap&libraries=places&v=weekly" async
    ></script>
    <script>

        // $(document).on("click", "#searchSeat", function(e){
        //     e.preventDefault();
        //
        //     $("#studentDetailsSection").show();
        //     $("#mapDetailsSection").show();
        // });

        let locationFullText = "{{ location }}";
        let locationName = locationFullText.substr(0, locationFullText.indexOf(','));
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        let map;
        let service;
        let infowindow;

        function initMap() {
            const university = new google.maps.LatLng(23.8824292, 90.2482221);

            infowindow = new google.maps.InfoWindow();
            map = new google.maps.Map(document.getElementById("map"), {
                center: university,
                zoom: 17,
            });

            const request = {
                query: "{{ location }}",
                fields: ["name", "geometry"],
            };

            service = new google.maps.places.PlacesService(map);
            service.findPlaceFromQuery(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    for (let i = 0; i < results.length; i++) {
                        createMarker(results[i]);
                    }

                    map.setCenter(results[0].geometry.location);
                }
            });
        }

        function createMarker(place) {
            if (!place.geometry || !place.geometry.location) return;

            const marker = new google.maps.Marker({
                map,
                position: place.geometry.location,
                title: locationName,
                label: locationName,
                labelClass: "labels",
                labelStyle: {"color": "red"}
            });

            google.maps.event.addListener(marker, "click", () => {
                infowindow.setContent(place.name || "");
                infowindow.open(map);
            });
        }
    </script>
{% endblock %}