{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >
        <h3 >Add Student</h3>

        {{ form_start(studentForm) }}
        <div class="col-md-6">
            {{ form_widget(studentForm) }}
            <button class="btn btn-primary" type="submit">Insert</button>
        </div>

        {{ form_end(studentForm) }}
    </div>
{% endblock %}