{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >
        <h3 >Add Student</h3>
        {% if(studentInserted) %}
            <div class="col-md-12">
                <h5 class="text-success">Data successfully uploaded</h5>
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="col-md-6">
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Insert</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}