{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >


        <div class="col-md-12 table-responsive">
            <h3 >Student List</h3>
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Room</th>
                    <th>Building</th>
                    <th>Shift</th>
                </tr>
                </thead>

                {% for student in studentList %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.room.roomNo }}</td>
                        <td>{{ student.room.building.name }}</td>
                        <td>
                            {% if student.examShift==1 %}
                                Morning
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}