{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >
        <h3 >Add Room</h3>

        {{ form_start(roomForm) }}
        <div class="col-md-6">
            {{ form_widget(roomForm) }}
            <button class="btn btn-primary" type="submit">Insert</button>
        </div>

        {{ form_end(roomForm) }}
    </div>
{% endblock %}