{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >
        <h3 >Add Building</h3>

        {{ form_start(buildingForm) }}
        <div class="col-md-6">
            {{ form_row(buildingForm.name) }}
            <button class="btn btn-primary" type="submit">Insert</button>
        </div>

        {{ form_end(buildingForm) }}
    </div>
{% endblock %}