{% extends('admin/admin_base.html.twig') %}

{% block body %}
    <div >


        <div class="col-md-12 table-responsive">
            <h3 >Building List</h3>
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>

                {% for building in buildingList %}
                    <tr>
                        <td>{{ building.id }}</td>
                        <td>{{ building.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}